/*  your css code here. If applicable */
:root {
	background-color: rgb(135, 206, 235);
}
p:first-child {
	background-color: black;
	color: white;
	width: 100%;
}
p:nth-child(2) {
	
}
p:last-child {
	color: red;
}
li:nth-child(odd) {
	background-color: white;
}
li {
	background-color: gray;
	width: 50%;
}
li:first-child && li:last-child {
	font-size: 22px;
}
li:nth-child(3) {
	background-color: pink;
}